body{
	margin: 0;
	padding: 0;
	text-align: center;
	background: #fff;
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
	color: #696969;
}
 h2 {
	color: #444444;
}

.contact-title{
	margin-top: 100px;
	color: #808080;
	text-transform: uppercase;
	transition: all 4s ease-in-out;
}
.contact.title h1{
	font-size: 32px;
	line-height: 10px;
}
.contact.title h2{
	font-size: 16px;
}
.information-title{
	margin-top: 100px;
	margin-bottom: 25px;
}

.about-title{
	margin-top: 100px;
	margin-bottom: 25px;
}

.foot-care-guidelines{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
	text-align: left;
}

.ingrown-toenail-prevention{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
	text-align: left;
}

.proper-shoe-fit{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
	text-align: left;
}

.arthritis{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
	text-align: left;
}

.athletes-foot{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
	text-align: left;
}

.bunions{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
	text-align: left;
}

.callus_corns{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
	text-align: left;
}

.hammer_claw_mallet_toes{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
	text-align: left;
}

.cracked-heels{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
	text-align: left;
}

.fungal-nails{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
	text-align: left;
}

.gout{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
	text-align: left;
}

.ingrown-nails{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
	text-align: left;
}

.involuted-nails{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
	text-align: left;
}

.neuropathy{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
	text-align: left;
}

.plantar-warts{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
	text-align: left;
}

.pad{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
	text-align: left;
}

.plantar-fascitis{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
	text-align: left;
}

.why-choose-me{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
	text-align: left;
}


.qualifications_affiliations{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
	text-align: left;
}

.cost_payment{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
	text-align: left;
}

.photos{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
	text-align: left;
}

.business_hours{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
	text-align: left;
}

.services{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 25px;
	text-align: left;
}

form{
	margin-top: 50px;
	transition: all 4s ease-in-out;
}


.form-control{
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: #fff;
	font-size: 18px;
	margin-bottom: 16px;
	margin-left: auto;
	margin-right: auto;
}

input{
	height: 45px;
}

.submit{
	background: #9DFE3D;
	border-color: transparent;
	color: #fff;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
}

.submit:hover{
	background-color: #00ffff;
	cursor: pointer;
}

html {
  position: relative;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

section.calendar {
  background-color: #29323f;
  font-family: 'Dosis', sans-serif;
  color: #fff;
  width: 400px;
  padding: 45px;
  top: 50%;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
	float: right;
	margin-top: 50px;
	margin-right: 465px;
}
section.calendar h1 {
  text-align: center;
  color: #9DFE3D;
  margin: 0 0 30px 0;
}
section.calendar form {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}
section.calendar form label.weekday {
  display: inline-block;
  width: 25px;
  margin: 8px;
  text-align: center;
  color: #999;
}
section.calendar form form {
  margin: 0;
  padding: 0;
}
section.calendar form label.day {
  display: inline-block;
  width: 25px;
  margin: 8px;
}
section.calendar form label.day span {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin: -2px 0 0 -2px;
  border-radius: 50%;
  border: 2px solid #29323f;
  text-align: center;
  transition: all .2s linear;
  cursor: pointer;
}
section.calendar form label.day span:hover {
  border-color: #e7d84f;
}
section.calendar form label.day em {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border-color: #29323f;
  width: 3px;
  height: 3px;
  background-color: #685e02;
  margin-left: 11px;
  margin-top: 2px;
  opacity: 0;
  transition: all .2s linear;
}
section.calendar form label.day input[type=text] {
  border: 0;
  opacity: 0;
  position: absolute;
  margin-top: 40px;
  left: -45px;
  width: 380px;
  height: 1px;
  padding: 0;
  outline: none;
  font-size: 16px;
  transition: height .2s linear, opacity .2s linear, color .02s linear;
  color: #fff;
}
section.calendar form label.day input[type=text]:focus {
  opacity: 1;
  height: 35px;
  padding: 10px 40px;
  left: -45px;
  width: 300px;
  color: #29323f;
}
section.calendar form label.day input[type=text]:focus + span {
  color: #9DFE3D;
  border-color: #9DFE3D;
  background: #9DFE3D;
  color: #29323f;
  font-weight: bold;
  margin-bottom: 65px;
}
section.calendar form label.day input[type=text]:focus ~ em {
  border-radius: 0;
  border: 5px solid transparent;
  background: transparent;
  border-bottom-color: white;
  margin-top: -62px;
  margin-left: 7px;
  width: 0;
  height: 0;
  display: inline-block;
  opacity: 1;
}
section.calendar form label.day input[type=text]:valid ~ em {
  display: inline-block;
  opacity: 1;
}
section.calendar form label.day.invalid {
  opacity: 0;
  width: 25px;
  height: 25px;
}
section.calendar form label.day.invalid span, section.calendar form label.day.invalid input {
  display: none;
}
section.calendar div.clearfix {
  clear: both;
}
section.calendar div.hidden {
  display: none;
}

aside{
	float: left;
}

.panel-group {
    text-align: left;
}

.panel-heading{
	background-color: #E8E8E8;
	border-style: outset;
	border-width: 2px;
	text-align: center;
}

a{
	color: #696969;
}

button.btn.btn-primary{
	background-color: #9DFE3D;
	border: #9DFE3D;
}

a.btn.btn-primary{
	background-color: #9DFE3D;
	border: #9DFE3D;
}
